.cardSerieDesign {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    height: 12em;
    width: 9em;
    border-style: ridge;
    /* border: gold solid; */
    font: small-caption;
    /* position: absolute; */
    font-style: italic;
    /* font-size: x-large; */
    

    /* background-color: black; */

    color: black;

    border-radius: 1em;

    margin: 0.5em;
}

.posterDesign {

    height: 8em;
    width: 6em;
    

}