.profileDesign {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    

    

    height: 85vh;
    width: 100vw;

    background-color: white;
}

span{
    background-color: lightcoral;
    text-decoration: underline;
}

.info{
    border-style: ridge;
}